<div class="about">
    <h1>This is a POC for an Angular Universal application with cross-platform mobile support</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tortor condimentum lacinia quis vel. Amet commodo nulla facilisi nullam vehicula ipsum a arcu
        cursus. Eget nullam non nisi est sit amet facilisis. Nibh tortor id aliquet lectus proin nibh. Rutrum quisque
        non tellus orci ac auctor augue. Proin libero nunc consequat interdum varius sit amet. Lobortis elementum nibh
        tellus molestie nunc non blandit massa enim. Sagittis id consectetur purus ut. Sed risus ultricies tristique
        nulla. Nibh tortor id aliquet lectus proin nibh nisl condimentum.</p>
    <p>Elit eget gravida cum sociis natoque penatibus et. Eget magna fermentum iaculis eu non diam phasellus vestibulum
        lorem. Pretium quam vulputate dignissim suspendisse in. Tempor orci eu lobortis elementum nibh tellus molestie
        nunc. Curabitur vitae nunc sed velit dignissim sodales ut eu sem. Id porta nibh venenatis cras. Nulla aliquet
        porttitor lacus luctus accumsan tortor. Pulvinar neque laoreet suspendisse interdum consectetur. Risus commodo
        viverra maecenas accumsan lacus vel facilisis. Scelerisque eleifend donec pretium vulputate sapien nec
        sagittis. Massa eget egestas purus viverra accumsan in nisl nisi. Mus mauris vitae ultricies leo integer
        malesuada nunc vel risus. Sit amet porttitor eget dolor morbi non. Molestie at elementum eu facilisis sed. Sit
        amet volutpat consequat mauris nunc congue. Vitae ultricies leo integer malesuada nunc vel. Vehicula ipsum a
        arcu cursus.</p>
    <p>Quam pellentesque nec nam aliquam sem et tortor consequat id. Velit aliquet sagittis id consectetur purus ut. Id
        porta nibh venenatis cras sed felis eget velit aliquet. Volutpat ac tincidunt vitae semper quis. Quam
        adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Eu tincidunt tortor aliquam nulla facilisi cras
        fermentum. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis. Tellus orci ac auctor augue
        mauris augue neque gravida. Massa tempor nec feugiat nisl pretium fusce id velit ut. Eget nunc lobortis mattis
        aliquam. Amet volutpat consequat mauris nunc congue.</p>
    <p>Consequat nisl vel pretium lectus quam id leo in vitae. Nibh sed pulvinar proin gravida hendrerit. Arcu dictum
        varius duis at consectetur lorem donec massa. Dignissim sodales ut eu sem integer vitae justo. Urna et pharetra
        pharetra massa massa ultricies. Urna neque viverra justo nec ultrices dui sapien eget mi. Cum sociis natoque
        penatibus et magnis dis parturient. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus.
        Eu consequat ac felis donec et odio pellentesque diam volutpat. Tortor at auctor urna nunc. Nisi lacus sed
        viverra tellus in hac habitasse platea dictumst. Sed viverra tellus in hac habitasse platea. Sit amet purus
        gravida quis. Et malesuada fames ac turpis egestas sed tempus urna et. Nunc eget lorem dolor sed. Dui accumsan
        sit amet nulla facilisi. Volutpat est velit egestas dui. Tellus integer feugiat scelerisque varius morbi enim
        nunc faucibus a.</p>
    <p>Ut enim blandit volutpat maecenas volutpat blandit. Pharetra vel turpis nunc eget lorem dolor sed viverra.
        Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Accumsan lacus vel facilisis volutpat.
        Elit sed vulputate mi sit amet mauris commodo quis. Nunc consequat interdum varius sit amet mattis vulputate
        enim. Erat pellentesque adipiscing commodo elit at. Vel turpis nunc eget lorem dolor. Aliquam id diam maecenas
        ultricies mi eget mauris. Mollis aliquam ut porttitor leo a diam sollicitudin. Ac placerat vestibulum lectus
        mauris ultrices eros in cursus. Convallis convallis tellus id interdum velit laoreet id donec. Urna id volutpat
        lacus laoreet non curabitur gravida arcu ac. Sollicitudin ac orci phasellus egestas tellus.</p>
</div>
